html, body {
  margin: 0;
  padding: 0;
  font-size: 16px; /* базов размер, който може да се мащабира */
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background: url('https://trud.bg/storage/1694785/conversions/casino-sites_6315543243798228663_original-thumb-958x539.webp') no-repeat center center fixed;
  background-size: cover;
}
