.notification {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  top: calc(50% + 145px);
  background-color: #f44336;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  max-width: 400px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 2;
}

.notification.show {
  opacity: 1;
}

.notification.success {
  background-color: #4CAF50;
}

.notification.info {
  background-color: #2196F3;
}
